Victory
{
   zorder 500

    container Panel(VictoryP) 
    {
 		metrics_mode pixels
        left 400
        top 85
        width 500
        height 500
        vert_align top
        material VictoryLogo

	  } 
}
